body {
  text-align: center;
  background-color: RGB(0,0,0,.1);
  background-image: url(https://secure.img1-fg.wfcdn.com/im/94339889/resize-h700-w700%5Ecompr-r85/1439/143971746/Dshawn+Peel+And+Stick+Wallpaper.jpg);
  font-family: 'Ropa Sans', sans-serif;
}
.header {
  font-size: 56px;
  color: rgb(108, 108, 243);
  text-align: center;
  position: sticky;
  margin-top: 200px;
  background-color: rgb(253, 250, 250);
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 30px;
}
.btn {
  margin: auto auto 15px auto;
  padding: 2em;
  font-size: 24px;
  border-radius: 25px;
  background-color: rgb(174, 187, 240);
  font-family: 'Ropa Sans', sans-serif;
}
.btnLA {
  margin: auto auto 15px auto;
  padding: 2em;
  font-size: 24px;
  border-radius: 25px;
  background-color: rgb(174, 240, 194);
  font-family: 'Ropa Sans', sans-serif;
}
.pic {
  width: 400px;
  height: auto;
  border-radius: 25px;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}
.container {
  background-color: rgb(220, 234, 245);
  border: 2px solid rgb(28, 75, 243);
  padding: .5em;
  text-align: center;
  margin: auto auto 10px auto;
  border-radius: 25px;
}
.containerLA {
  background-color: rgb(227, 245, 220);
  border: 2px solid rgb(10, 80, 37);
  padding: .5em;
  text-align: center;
  margin: auto auto 10px auto;
  border-radius: 25px;
}
.container1 {
  background-color: rgb(245, 238, 220);
  border: 1px solid black;
  padding: .5em;
  text-align: center;
  margin: auto 100px 15px 100px;
  border-radius: 25px;
}
.subContainer {
  width: 500px;
  background-color: rgb(192, 226, 245);
  padding: 1em;
  border-radius: 25px;
}
.subContainer1 {
  width: 90%;
  padding: 1em;
  border-radius: 25px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
.subContainer1LA {
  width: 90%;
  padding: 1em;
  border-radius: 25px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
.update {
  width: 25%;
  padding: .5em;
  margin-right: 5px;
}
.update1 {
  width: 70%;
  padding: .5em;
}
.update2 {
  padding: .5em;
  width: 200px;
}
.update3 {
  padding: .5em;
  width: 200px;
  margin-bottom: 15px;
}
.margin {
  margin-right: 15px;
  padding: 1em;
  font-size: 16px;
}
.margin1 {
  padding: 1em;
  font-size: 16px;
}
button:hover {
  background-color: rgb(188, 165, 189);
  color: black;
}